#Karl {
  background-color: #34BE82;
}

body {
  font-family: 'Arvo', serif;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  color: black;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.Motor1 {
  transform: rotate(-5deg);
  right: 20;
}

/* Media Query */
@media (max-width:1028px) {
  #Karl {
    text-align: center;
  }

  .container-fluid {
    padding: 3% 15%;
  }

  .Motor1 {
    transform: rotate(0);
    position: static;
    width: 120%;
    padding-top: 7%;
  }

  .navbar-brand {
    font-size: 1.7rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }


  .download-button {
    margin: 2% 2%;
    font-size: 0.7rem;
  }

  #features {
    padding: 3% 5%;
  }

  .feature-box {
    padding: 2%;
  }

  .testemonial-image {
    width: 16%;
  }

  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }

  .pricing-column {
    text-align: center;
    padding: 2% 1%;
  }

  h4 {
    font-size: 0.5rem;
  }

  .button2 {
    margin: 2% 2%;
    font-size: 0.7rem;
  }

  .Media {
    font-size: 0.8rem;
    margin-left: 6px;
  }

  .copyright {
    font-size: 0.8rem;
  }

}


/* Feature Section */
#features {
  padding: 7% 15%;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #019267;
  padding: 3% 0;
}

.icon:hover {
  color: #00C897;
}


/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #C0EDA6;
  color: black;
}

.carousel-item {
  padding: 7% 15%;
}

.testemonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Press Section */
#press {
  background-color: #C0EDA6;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  text-align: center;
  padding: 3% 2%;
}


/* Call to Action Section */
#cta {
  background-color: #34BE82;
  padding: 7% 15%;
  text-align: center;
}

.container2 {
  padding: 3%;
}

h4 {
  font-size: 3rem;
}

.button2 {
  margin: 2% 1%;
}



/* Footer Section */
#footer {
  text-align: center;
  padding: 5% 15%;
}

.container3 {
  padding: 5% 0 0.5% 0;
}

.Media {
  font-size: 1rem;
  color: gray;
  margin-left: 6px;
}

.copyright {
  font-size: 1rem;
}

/* Media Query */
@media (max-width:1028px) {
  #Karl {
    text-align: center;
  }

  .container-fluid {
    padding: 3% 15%;
  }

  .Motor1 {
    transform: rotate(-3);
    position: static;
    width: 100%;
    padding-top: 7%;
  }

  .navbar-brand {
    font-size: 1.7rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }

  .download-button {
    margin: 2% 2%;
    font-size: 0.7rem;
  }

  #features {
    padding: 3% 5%;
  }

  .feature-box {
    padding: 2%;
  }

  .testemonial-image {
    width: 16%;
  }

  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }

  .pricing-column {
    text-align: center;
    padding: 2% 1%;
  }

  h4 {
    font-size: 1.8rem;
  }

  .button2 {
    margin: 2% 2%;
    font-size: 0.7rem;
  }

  .Media {
    font-size: 0.8rem;
    margin-left: 6px;
  }

  .copyright {
    font-size: 0.9rem;
  }

}
